#Cover h2 {
	margin:30px 0 0;
	color:#FFF;
	text-align:center;
	font-size:70px;
}

#Cover p {
	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}

#Cover p a {
	color:#FFF;
}
	
.slide pre > code {
	font-size: 1.3rem;
	line-height: 25px;
}

pre.inline-code {
	padding: 0.2em 1em;
}

pre.inline-code code {
	display: inline-block;
}

pre.eval-javascript {
	position: relative;
}

pre.eval-javascript > button.eval-javascript {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
}

pre.eval-javascript:hover > button.eval-javascript {
	visibility: visible;
}

.slide pre code:before {
	content: none;
}

.slide > div > h2:first-child {
	margin-top: -60px;
}
